### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

## 데이터 타입

### 1.Series(https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

<img src="https://bites-data.s3.us-east-2.amazonaws.com/series_spreadsheet.png" width="300" height="200">

### 생성

#### 1) 리스트

In [1]:
list1 = [70,80,90]

In [2]:
import pandas as pd

ser = pd.Series(list1)
ser

0    70
1    80
2    90
dtype: int64

In [5]:
ser1 = pd.Series(list1,index=["국어","영어","수학"])
ser1

국어    70
영어    80
수학    90
dtype: int64

#### 2) 딕셔너리

In [6]:
ser2 = pd.Series({"a":1,"b":2,"c":3})
ser2

a    1
b    2
c    3
dtype: int64

#### Read

In [7]:
# index 조회

ser1.index

Index(['국어', '영어', '수학'], dtype='object')

In [8]:
# values 조회
ser1.values

array([70, 80, 90], dtype=int64)

In [11]:
# values 에서 상위 5개만 조회 : head(), 개수 지정 가능 head(3)
ser1.head(2)

국어    70
영어    80
dtype: int64

In [13]:
# values 에서 끝 5개만 조회 : tail(), 개수 지정 가능 tail(3)
ser1.tail(2)

영어    80
수학    90
dtype: int64

In [14]:
# shape : 데이터 구조 (행,열)
ser1.shape

(3,)

#### Update

In [17]:
# index 변경

ser1.index = ["미술","음악","체육"]
ser1

미술    70
음악    80
체육    90
dtype: int64

In [20]:
# 데이터 타입 변경 : astype("변경할 타입") => 원본 변경 안됨

ser1 = ser1.astype("float64")

In [21]:
ser1

미술    70.0
음악    80.0
체육    90.0
dtype: float64

In [23]:
ser3 = pd.Series(["1.1","2.2","3.3"])
ser3

0    1.1
1    2.2
2    3.3
dtype: object

In [24]:
ser3 = ser3.astype("float64")
ser3

0    1.1
1    2.2
2    3.3
dtype: float64

In [25]:
ser4 = pd.Series(["test","1.1","2.2","3.3"])
ser4

0    test
1     1.1
2     2.2
3     3.3
dtype: object

In [26]:
ser4.astype("float64")

ValueError: could not convert string to float: 'test'

In [22]:
# 특정 값 변경
ser1["음악"] = 85
ser1

미술    70.0
음악    85.0
체육    90.0
dtype: float64

In [28]:
ser1 = ser1.rename("점수")
ser1

미술    70.0
음악    85.0
체육    90.0
Name: 점수, dtype: float64

#### 삭제

In [29]:
del ser1["체육"]

In [30]:
ser1

미술    70.0
음악    85.0
Name: 점수, dtype: float64

#### 3) ndarray

In [31]:
# numpy 데이터 타입 : ndarray

import numpy as np

ser5 = pd.Series(np.random.randn(4), index = list("abcd"))
ser5

a    0.319570
b   -1.531829
c   -0.629199
d    0.218096
dtype: float64

#### 4) DataFrame 이용

In [32]:
df = pd.DataFrame({"a":[1,2,3,4],"b":[5,6,7,8]})
df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [33]:
ser5 = pd.Series(df['a'])
ser5

0    1
1    2
2    3
3    4
Name: a, dtype: int64

### 조회

- 인덱싱 가능 (인덱스 번호 혹은 라벨명)

- 전체 구조 파악

### 수정
><b>index 수정</b>

><b>특정 값 수정</b>

><b>데이터 타입 변경</b>

**astype 사용 시 주의점 : 변경할 수 없는 데이터가 들어있는 경우**

### 삭제
><b>특정 행 삭제</b>